/* Dark mode */
body.dark {
  --bg-color: #1d1b1b; /* Black background */
  color:rgb(241, 241, 241)
}

/* Light mode */
body.light {
  --bg-color: #ebefef; /* White background */
  color: black;
}

/* Body styling */
body {
  background-color: var(--bg-color); /* Dynamic background color */
  transition: background-color 0.5s ease-out;
}
